# Rust / Cargo
capas-api/target/

# Debug temporário
capas-api/debug.html

# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VSCode
.vscode/

# IntelliJ / CLion
.idea/

# Logs
*.log
